@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}
:root {
  --text-primary: rgba(0, 0, 0, 0.7);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
button {
  cursor: pointer;
}
